

.layout-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.layout-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(120% - 200px); /* Ajusta este valor según el ancho de tu sidenav */
  height: 100%;
  background-image: url('../../../assets/1.jpg'), url('../../../assets/2.jpg'), url('../../../assets/3.jpg'), url('../../../assets/4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: carrusel 15s infinite;
  opacity: 0.6;
}

@keyframes carrusel {
  0% { background-image: url('../../../assets/1.jpg'); }
  33% { background-image: url('../../../assets/2.jpg'); }
  66% { background-image: url('../../../assets/3.jpg'); }
  100% { background-image: url('../../../assets/4.jpg'); }
}

.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card-espaciada {
  margin: 20px; /* Aumenta el margen alrededor de la tarjeta */
  padding: 20px; /* Añade un padding dentro de la tarjeta */
}

.frases-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si no hay suficiente espacio */
}

.frase {
  margin: 10px; /* Añade un margen alrededor de cada frase para darle más espacio */
  width: 200px; /* Ajusta este valor según tus necesidades */
  text-align: center; /* Centra el texto y la imagen dentro de cada frase */
}


.container {
  display: flex; /* Alinea las tarjetas horizontalmente */
  justify-content: space-around; /* Distribuye las tarjetas uniformemente en el contenedor */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio */
}

.card {
  width: 30%; /* Ajusta el ancho de la tarjeta para que se ajuste a su contenedor */
  height: auto; /* Permite que la tarjeta se expanda para acomodar su contenido */
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 20px; /* Añade un margen alrededor de cada tarjeta para darle más espacio */
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
}

 .text-body {
  color: rgb(134, 134, 134);
  font-size: 0.5em;
 }

 /*Text*/
 .text-title {
  font-size: 0.5em;
  font-weight: bold;
 }

 /*Hover*/
 .card:hover {
  border-color: orangered;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }

 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 .image-container img {
  width: 50px;
  height: 50px;
  border-radius: 30%; /* Hace que la imagen sea circular */
}

.stars {
  color: gold;
  font-size: 1em;
}
