<mat-card style="margin-left: 250px; margin-right: 250px;" fxHide.xs="100px">
<form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 50%; margin: 0 auto;">
  <h1 style="font-weight: bold; margin-top: 30px;">Haz tu reserva!</h1>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Servicio</mat-label>
    <mat-select formControlName="servicio">
      <mat-option *ngFor="let servicio of servicios" [value]="servicio.nombreServicio">{{servicio.nombreServicio}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Paseador</mat-label>
    <mat-select formControlName="paseador">
      <mat-option *ngFor="let paseador of paseadores" [value]="paseador.nombre">{{paseador.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Fecha y Hora</mat-label>
    <mat-select formControlName="fechaHora">
      <mat-option *ngFor="let horario of horarios" [value]="horario.fechaHora">{{horario.fechaHora}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit" style="background-color: orangered; color: white; margin-bottom: 20px;">Reservar</button></form>
</mat-card>

<mat-card style="margin-top: 30px; margin-left: 250px; margin-right: 250px;">
  <h1 style="font-weight: bold;">Historial de Reservas</h1>
  <table mat-table [dataSource]="reservasSeleccionadas" class="mat-elevation-z8">
    <!-- Columna de servicio -->
    <ng-container matColumnDef="servicio">
      <th mat-header-cell *matHeaderCellDef> Servicio </th>
      <td mat-cell *matCellDef="let reserva"> {{reserva.servicio}} </td>
    </ng-container>

    <!-- Columna de paseador -->
    <ng-container matColumnDef="paseador">
      <th mat-header-cell *matHeaderCellDef> Paseador </th>
      <td mat-cell *matCellDef="let reserva"> {{reserva.paseador}} </td>
    </ng-container>

    <!-- Columna de fecha y hora -->
    <ng-container matColumnDef="fechaHora">
      <th mat-header-cell *matHeaderCellDef> Fecha y Hora </th>
      <td mat-cell *matCellDef="let reserva"> {{reserva.fechaHora}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let reserva">
        <a href="#" (click)="modificarReserva($event, reserva)"><mat-icon  style="color: orangered;">edit</mat-icon></a>
        <a href="#" (click)="eliminarReserva($event, reserva)"><mat-icon style="color: orangered;">delete</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
