<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>


    <div class="example-container desplazado-derecha" fxHide.xs="100px">
      <mat-form-field>
        <strong>Servicio</strong>
        <mat-select>
          <mat-option value="option">
            <img src="./assets/huella (1).png" alt="Icono de paseo corto" height="24px"> Paseo Corto
          </mat-option>
          <mat-option value="option">
            <img src="./assets/huellas-de-garras.png" alt="Icono de paseo largo" height="24px"> Paseo Largo
          </mat-option>
          <mat-option value="option">
            <img src="./assets/Suitcase.png" alt="Icono de guardería de día" height="24px"> Guardería de día
          </mat-option>
          <mat-option value="option">
            <img src="./assets/Country House.png" alt="Icono de alojamiento" height="24px"> Alojamiento
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <strong>Localidad</strong>
        <input matInput placeholder="Introduce tu código postal">
        <!--[(ngModel)]="codigoPostal" <button mat-raised-button color="primary" (click)="buscarPaseadores()">Buscar</button>-->
        <div #mapContainer></div>
      </mat-form-field>
      <mat-form-field>
        <strong>Fecha</strong>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <strong>Perros</strong>
        <mat-select>
          <mat-option value="option">Pequeño [0 a 7kg]</mat-option>
          <mat-option value="option">Mediano [8 a 18kg]</mat-option>
          <mat-option value="option">Grande [19 a 35 kg]</mat-option>
          <mat-option value="option">Gigante [+36kg]</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="custom-button" (click)="buscarUbicaciones(); obtenerPaseador()">Buscar</button>  <mat-card class="card-espaciada">
        <mat-card-content class="titulo-destacado">Cuidadores de perros cerca de ti, sin jaulas.</mat-card-content>

        <div class="frases-container" fxHide.xs="100px">
          <div class="frase">
            <img src="../../../assets/stethoscope_check_FILL0_wght400_GRAD0_opsz24.png">
            <p>Cobertura veterinaria</p>
          </div>
          <div class="frase">
            <img src="../../../assets/verified_FILL0_wght400_GRAD0_opsz24.png">
            <p>Cancelación Gratuita</p>
          </div>
          <div class="frase">
            <img src="../../../assets/person_check_FILL0_wght400_GRAD0_opsz24.png">
            <p>Cuidadores Verificados</p>
          </div>
          <div class="frase">
            <img src="../../../assets/sms_FILL0_wght400_GRAD0_opsz24.png">
            <p>Soporte y Ayuda</p>
          </div>
          <div class="frase">
            <img src="../../../assets/credit_score_FILL0_wght400_GRAD0_opsz24.png">
            <p>Pago Seguro</p>
          </div>
        </div>
        <mat-card>
          <div class="contenedor-de-tarjetas" fxHide.xs="100px">
            <mat-card class="card" *ngFor="let paseador of paseadores; let i = index" [hidden]="i !== currentIndex">
              <div class="card-details" fxHide.xs="100px">
                <div class="image-container">
                  <img [src]="'assets/user' + (i+1) + '.jpg'" class="circular-image">
                </div>
                <div class="info-container" fxHide.xs="100px">
                  <p class="text-title">{{paseador.nombre}}</p>
                  <p class="text-body">{{paseador.email}}</p>
                  <p class="text-body">{{paseador.telefonoPaseador}}</p>
                  <p class="text-body">{{paseador.precio}}</p>
                </div>
                <div class="social-icons" fxHide.xs="100px">
                  <div class="social-icons">
                    <a href="https://www.instagram.com/tu_usuario">
                      <img src="assets/instagram.png">
                    </a>
                    <a href="https://wa.me/tu_numero">
                      <img src="assets/whatsapp.png">
                    </a>
                    <a href="https://www.linkedin.com/in/tu_usuario">
                      <img src="assets/linkedin.png">
                    </a>
                  </div>
                </div>
              </div>
            </mat-card>
            <div class="navigation-buttons">
              <button mat-icon-button (click)="previousCard()">
                <mat-icon style="color: orangered;">arrow_back</mat-icon>
              </button>

              <button mat-icon-button (click)="nextCard()">
                <mat-icon style="color: orangered;">arrow_forward</mat-icon>
              </button>
            </div>



            <mat-card class="card-espaciada card-con-mapa" fxHide.xs="100px">
              <google-map [center]="center">
                <map-marker *ngFor="let marker of markers" [position]="marker" (mapClick)="onMarkerClick(marker)">
                  <map-info-window #infoWindow>{{selectedMarker}}</map-info-window>
                </map-marker>
              </google-map>
            </mat-card>
          </div>
        </mat-card>
      </mat-card>
    </div>



  <!-- Path: src/app/compartido/buscar/buscar.component.scss -->
