<div class="example-container desplazado-derecha" fxHide.xs="100px" style="display: flex; flex-direction: column; align-items: center;">
  <mat-card>
    <h1 style="font-size: 2em; font-weight: bold; margin-top: 30px;">¿Cómo puedes ponerte en contacto con nosotros?</h1>
    <br>
    <p style="font-size: 1.5em; margin-left: 20px; margin-right: 20px;">
      Si necesitas ayuda para encontrar un cuidador para tu perro, proponernos alguna colaboración o simplemente consultarnos cualquier
       duda acerca de la plataforma, nuestro equipo estará encantado de ayudarte a través de:
    </p>
    <br>
    <mat-card style="width: 50%; border: 2px solid orangered; margin: auto; padding: 20px 0;">
      <p style="font-size: 1.5em;"><strong>Email</strong>: dogwalkapp@gmail.com</p>
    </mat-card>
    <br>
    <mat-card style="width: 50%; border: 2px solid orangered; margin: auto; padding: 20px 0;">
      <p style="font-size: 1.5em;"><strong>Teléfono</strong>:  +1 234 567 890</p>
    </mat-card>
    <br>
    <br>
    <br>
    <h1 style="font-size: 2em; font-weight: bold;">Síguenos en nuestras Redes!</h1>
    <p>
      <a href="https://www.facebook.com" target="_blank" style="color: orangered;">
        <i class="fab fa-facebook-f fa-3x"></i>
      </a>
    </p>
    <p>
      <a href="https://www.instagram.com" target="_blank" style="color: orangered;">
        <i class="fab fa-instagram fa-3x"></i>
      </a>
    </p>
    <p>
      <a href="https://www.twitter.com" target="_blank" style="color: orangered;">
        <i class="fab fa-twitter fa-3x"></i>
      </a>
    </p>
  </mat-card>

</div>
