<div style="margin-left: 0px; margin-top: 20px; background-color: white;">
<mat-card style="background-color: white; width: 100%; height: 100%;">

    <div style="margin-left: 20px; margin-top: 20px; background-color: white;">
      <h1 style="font-size: 4em; font-weight: bold; color: orangered; text-align: center; text-decoration: underline;
      margin-top: 20px;">
        BLOG DE DOG WALK APP
      </h1>
      <h1 style="font-size: 2.5em; font-weight: bold; margin-top: 50px;">10 cosas que debes saber antes de tener un perro</h1>
      <img src="./assets/max-harlynking-TkykGJJlqVc-unsplash.jpg" style="width: 60%; height: 60%;">
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        La llegada de un perro a casa puede dar un giro por completo a nuestra vida. En la mayoría de los casos
        tener un perro nos llena la vida de amor, compañía y felicidad. Pero tenemos que tener en cuenta otros muchos
        cambios que suceden cuando incorporamos un miembro más a la familia. No podemos negar que las cosas buenas
        que nos aporta tener un perro son incontables, pero de eso ya hemos hablado en otras muchas publicaciones.
        Hoy, queremos contarte en este post qué otras 10 cosas debes saber antes de tener un perro.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        1. Un perro te cambia la vida
      </h2>
      <img src="./assets/andrew-mead-r_X4YHAlBPo-unsplash.jpg" style="width: 60%; height: 60%;">
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Lo que debemos preguntarnos antes de tomar la decisión de tener un perro es ¿cómo es mi actual estilo de vida?
        Quizá analizando nuestro día a día nos demos cuenta de que, por muchas ganas que tengamos, en nuestra vida no
        hay espacio para un perro. Es importante detectar si tenemos tiempo para él cuando volvamos del trabajo.
        Analizar cuántas horas al día estará solo, y sobre todo, cómo de estable es nuestra vida actualmente y por
        cuánto tiempo podremos mantener esa estabilidad. Otra pregunta interesante sería: ¿qué planes tengo de aquí
        a diez años? Un perro nos acompañará durante muchos años en nuestra vida y por ello debemos saber si podemos
         ofrecerle tiempo y cuidado ahora y en el futuro.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        2. Tener un perro cuesta dinero
      </h2>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Parece obvio pero es sorprendente la cantidad de familias que no contaban con este pequeño detalle cuando
         tomaron la decisión. En el mejor de los casos tener un perro conlleva unos gastos fijos de los que no
         podemos prescindir. Como equipamiento para el paseo (correa, arnés, collar) cama, juguetes, mantas, alimentación,
         veterinarios, etc.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Ahora bien, es importante saber que tener un perro puede suponer un sinfín de gastos con los que no habíamos
        contado y que aparecen en forma de imprevisto. Un perro puede tener problemas de conducta en los que quizás
        debas trabajar con la ayuda de un educador canino. Un perro además puede desarrollar diversas enfermedades,
        alergias o intolerancias que aumentarán considerablemente tus gastos. Y tener un perro, como cualquier cambio
        en tu vida, puede suponer desembolsos inesperados que no habías imaginado.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        3. Para tener un perro hay que tener tiempo
      </h2>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        La idea de tener un perro es muy atractiva en un principio. Tener compañía al volver del trabajo,
         pasear juntos y disfrutar de momentos a su lado es, sin duda, un cambio con el que fantaseamos muchos
         de nosotros en algún momento de nuestra vida. Una de las 10 cosas que debes saber antes de tener un perro
         es que no habrá lugar para la pereza. Quedarte en el sofá una tarde lluviosa de invierno no será una opción.
          Tu perro tiene que salir a pasear y hacer sus necesidades cada día, al menos 2 o 3 veces.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        ¿Te ha surgido un plan improvisado? Sentimos decirte que tampoco podrás alargar cualquier reunión si en casa
        está esperándote tu perro para salir a pasear. Además no solo de los paseos vive el perro, tu amigo también necesitará
        tiempo de calidad contigo, mimos, juegos y educación.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        4. A los perros se les educa con mucho tiempo y dedicación
      </h2>
      <img src="./assets/juan-gomez-QCU7I5TQSbQ-unsplash.jpg" style="width: 60%; height: 60%;">
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Así es, una de las cosas que debes saber antes de tener un perro es que tendrás que invertir mucho tiempo
         (y a veces también dinero) en su educación. Si tu nuevo amigo es un cachorro, las primeras semanas serán
          cruciales para su desarrollo. Lo que hagas durante ese tiempo marcará para siempre su comportamiento.
          Por ejemplo, enseñar a un perro a hacer sus necesidades fuera de casa requiere un adiestramiento que
          podemos hacer nosotros mismos a base de tiempo y esfuerzo. Lo mismo ocurre con enseñarle las órdenes básicas.
          Y por supuesto, será el momento idóneo para decidir qué le está permitido y qué no (por ejemplo, subirse al
          sofá o a la cama).
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        En muchas ocasiones los perros pueden desarrollar problemas de conducta. Y sentimos decirte que esto muchas
         veces no depende de lo “bien” o “mal” que lo hayas hecho. Hay perros que sufren ansiedad por separación, lo que
         quiere decir que no pueden estar solos. Existen perros con miedos y perros que no son sociables con otros perros
          y/o personas. Y hay perros con problemas de conducta que hacen que tanto ellos como sus familias vivan condicionados
          pero ello. Todo esto puede mejorar con educación y adiestramiento por parte de profesionales, lo que por supuesto,
           supondrá tiempo y dinero.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        5. Los perros también enferman
      </h2>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Lamentablemente los perros también enferman. A veces de forma puntual pero otras muchas desarrollan alguna
         enfermedad en la que debemos invertir nuestro esfuerzo, tiempo y dinero. Si hablamos de aspectos económicos
          debes saber que los costes veterinarios no suelen ser baratos (y mucho menos si el servicio es de urgencia).
           Las operaciones en perros pueden ser igual de caras que las nuestras, y en algunas ocasiones no están cubiertas
           por nuestro seguro.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        No podemos olvidarnos de la alimentación en los perros. Es fácil hacer una estimación rápida de lo que nos
         gastaremos en su comida si pensamos en un pienso “normal”. Pero, ¿sabías que hay perros que desarrollan intolerancias?
          A muchas familias les lleva meses detectar qué tipo de alimentación es la adecuada para su perro.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Y lo más importante es saber que ver a un perro enfermar es, para muchos de nosotros, igual de duro que verlo
        en cualquier miembro de la familia.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        6. Los perros crecen
      </h2>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Cada año son abandonados miles de perros. Muchos de ellos fueron regalados en Navidad cuando eran
        cachorros para acabar en protectoras o refugios meses después.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Cuando adoptas un perro es crucial saber que dependiendo de su raza o cruce puede crecer durante los
        siguientes meses. Por ello debemos tener en cuenta qué tipo perro tendremos y qué tipo de casa y rutina necesita.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        7. No todos los perros necesitan lo mismo
      </h2>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Es importantísimo saber qué tipo de perro es apto para nuestro entorno y estilo de vida. Por su propia raza hay
        perros que necesitan correr durante horas para gastar la energía necesaria en un día. Proporcionar el ejercicio
        suficiente a tu perro será clave para su bienestar.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Los juegos de estimulación son indispensables para muchos perros y para algunos de ellos no son suficiente los
        paseos. Si quieres que tu perro se mantenga estable y feliz tendrás que dedicar tiempo a otro tipo de actividades
         que hagan que se mantenga en calma al final del día.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Por supuesto, debes tener en cuenta en qué entorno vives para decidir qué tipo de perro es mejor para ti.
         Por ejemplo, si vives en un sitio con bajas temperaturas. O por el contrario, en un sitio donde se alcanzan muchos
         grados en temporadas de calor.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        8. Tu casa no volverá a ser la misma
      </h2>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Esto es así. Debes saber que tu casa, muebles y ropa se van a llenar de pelos y te costará mucho tiempo y sacrificio
         deshacerte de ellos. Además, sobre todo en las primeras semanas, es probable que aparezcan algunos destrozos que no
         esperabas. No es tan grave, pero hay que tenerlo en cuenta.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Tendrás que preparar tu casa a prueba de perros. Recoger y esconder las cosas de valor, proteger los muebles que no quieres
        que se dañen, limpiar pises y cacas en sitios insospechados y un largo etcétera.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Y lo más importante, también tendrás que acondicionar tu casa para que no exista ningún peligro para tu nuevo amigo.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        9. Existen requisitos legales para tener un perro
      </h2>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Conocer los requisitos legales es de vital importancia antes de tener un perro. Deberás informarte sobre las
        obligaciones que existen en tu país y ciudad.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        ¿Qué tipo de seguro necesito? ¿A qué estoy obligado? ¿Necesito tener algún curso o titulación? Son algunas de
        las preguntas que deberás hacerte antes de tener un perro. Sin olvidarnos de la obligación del microchip, vacunas,
         desparasitaciones, etc.
      </p>
      <h2 style="font-size: 1.5em; font-weight: bold; margin-top: 20px;">
        9. Existen requisitos legales para tener un perro
      </h2>
      <img src="./assets/ignacio-amenabar-2dkgXTfPfTg-unsplash.jpg" style="width: 60%; height: 60%;">

      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        La última cosa de esta lista de 10 cosas que debes saber antes de tener un perro es que tendrás que
        cambiar la forma en la que organizas los viajes.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Si de algo sabemos en Gudog es sobre lo que supone viajar cuando tenemos perro. Cuando tengas un perro no
        bastará con comprar billetes y reservar hoteles. Ahora tendrás que tener en cuenta si quieres que tu perro
        te acompañe o si es mejor que no viaje con vosotros. Si es así deberás conocer los requisitos para viajar en avión,
        tren o coche con perro (además de saber que no todos están preparados para ello). Y a partir de ahora el filtro
        “se aceptan mascotas” formará parte de tu vida. Desgraciadamente comprobarás que las opciones se reducen
        considerablemente.
      </p>
      <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
        Pero si algo tienes que saber cuando viajas es que existen opciones maravillosas que te ayudarán en estas situaciones.
         Si has decidido que tu perro no viaje contigo, un cuidador o cuidadora particular puede ser tu mayor aliado. Mientras
         tú disfrutas de tus vacaciones tu perro estará en casa de un cuidador recibiendo atención y cuidado. Así que, guarda
          esta opción por si te decides a compartir tu vida con un perro.
      </p>

    </div>


</mat-card>
<mat-card style="margin-top: 30px;">
  <mat-card-content>
    <h1 style="font-size: 2.5em; font-weight: bold; margin-top: 20px; color:orangered">
      ¿Qué es Dog Walk App?
    </h1>
    <p style="font-size: 1.5em; margin-right: 50px; margin-top: 20px;">
      Dog Walk App es la forma más fácil de encontrar y reservar con el cuidador de perros perfecto.
      ¡Miles de cuidadores están disponibles para cuidar de tu perro como si fuera un miembro más de su
      familia! Todas las reservas incluyen Cobertura Veterinaria y cancelación gratuíta
    </p>
    <button mat-raised-button color="warn" routerLink="/layout/dashboard" (click)="scrollToTop()" style="background-color: 'orangered'; color: white; font-size: large; width: 1600px; height: 50px; margin-top: 20px;">
      Descubre Dog Walk App
    </button>

  </mat-card-content>
</mat-card>
</div>

