<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<mat-card class="card" *ngFor="let perro of perros; let i = index" [hidden]="i !== currentIndex">
  <div class="card-details" fxHide.xs="100px">
    <div class="image-container">
      <img [src]="'assets/dog' + (i+1) + '.jpg'" class="circular-image">
    </div>
    <div class="info-container" fxHide.xs="100px">
      <p class="text-title">{{perro.nombre}}</p>
      <p class="text-body">{{perro.raza}}</p>
      <p class="text-body">{{perro.edad}}</p>
      <p class="text-body">{{perro.nombreUsuario}}</p>
    </div>
    <div class="social-icons" fxHide.xs="100px">
      <div class="social-icons">
        <a [href]="perro.instagram">
          <img src="assets/instagram.png">
        </a>
        <a [href]="perro.tiktok">
          <img src="assets/tiktok.png">
        </a>
      </div>
    </div>
  </div>
</mat-card>
<div class="navigation-buttons">
  <button mat-icon-button (click)="previousCard()">
    <mat-icon style="color: orangered;">arrow_back</mat-icon>
  </button>

  <button mat-icon-button (click)="nextCard()">
    <mat-icon style="color: orangered;">arrow_forward</mat-icon>
  </button>
</div>

<div>
  <mat-card style="margin-top: 30px; margin-left: 250px; margin-right: 250px;">
    <h1 style="font-weight: bold; background-color: orangered; color: whitesmoke">Opiniones de los Cuidadores</h1>
    <table mat-table [dataSource]="opiniones" class="mat-elevation-z8">
      <!-- Columna de nombrePaseador -->
      <ng-container matColumnDef="nombrePaseador">
        <th mat-header-cell *matHeaderCellDef> Paseador </th>
        <td mat-cell *matCellDef="let opinion"> {{opinion.nombrePaseador}} </td>
      </ng-container>

      <!-- Columna de nombrePerro -->
      <ng-container matColumnDef="nombrePerro">
        <th mat-header-cell *matHeaderCellDef> Perro </th>
        <td mat-cell *matCellDef="let opinion"> {{opinion.nombrePerro}} </td>
      </ng-container>

      <!-- Columna de comentario -->
      <ng-container matColumnDef="comentario">
        <th mat-header-cell *matHeaderCellDef> Comentario </th>
        <td mat-cell *matCellDef="let opinion"> {{opinion.comentario}} </td>
      </ng-container>

      <!-- Columna de puntuacion -->
      <ng-container matColumnDef="puntuacion">
        <th mat-header-cell *matHeaderCellDef> Puntuación </th>
        <td mat-cell *matCellDef="let opinion"> {{opinion.puntuacion}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
  <mat-card style="margin-top: 20px;  margin-left: 250px; margin-right: 250px;">
    <h1 style="font-weight: bold; background-color: orangered; color: whitesmoke">Deja tu opinión</h1>
    <form [formGroup]="opinionForm" (ngSubmit)="enviarOpinion()" style="display: flex; flex-direction: column; width: 50%; margin: auto;">
      <div style="margin-bottom: 10px;">
        <label>Nombre del paseador</label>
        <input formControlName="nombrePaseador" style="width: 100%;">
      </div>
      <div style="margin-bottom: 10px;">
        <label>Nombre del perro</label>
        <input formControlName="nombrePerro" style="width: 100%;">
      </div>
      <div style="margin-bottom: 10px;">
        <label>Comentario</label>
        <textarea formControlName="comentario" rows="4" style="width: 100%;"></textarea>
      </div>
      <div style="margin-bottom: 10px;">
        <label>Puntuación</label>
        <select formControlName="puntuacion" style="width: 10%;">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <button type="submit" style="align-self: center; background-color: orangered; color: whitesmoke;">Enviar</button>
    </form>
  </mat-card>
</div>

