<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card style="background-color: white; width: 100%; height: 300px; background-image: url('../../../assets/dogs.jpg'); background-size: cover; ">
    <mat-card-content style="text-align: center; font-size: 40px;">
      <h1 style="font-size: 1.5em; font-weight: bold; margin-bottom: 100px; margin-top: 40px; color: white;">
        ¡Gana dinero pasando tu tiempo con perros!
      </h1>
       <button mat-raised-button color="warn" routerLink="/modal-usuario" style="background-color: '#ff7f50'; color: white; font-size: large; width: 150px;">
        Comenzar
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card style="font-size: large; font-weight: bold; width: 100%; height: 400px;">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile>
        <div style="text-align: left; margin-top: 30px; margin-bottom: 10px; padding: 10px;">
          <div>
            <h1 style="font-weight: bold; color:chocolate">¿Cómo Funciona DogWalkApp?</h1>
            <p>
              <mat-icon style="color: orangered;">star</mat-icon>
              Marca tus propios precios y disponibilidad
            </p>
            <p>
              <mat-icon style="color: orangered;">pets</mat-icon>
              Cuida de perros que cumplen con tus preferencias
            </p>
            <p>
              <mat-icon style="color: orangered;">local_hospital</mat-icon>
              Cobertura Veterinaria en cada reserva
            </p>
          </div>


        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div style="text-align: left; margin-top: 30px; margin-bottom: 10px; padding: 10px;">
          <div>
            <h1 style="font-weight: bold; color:chocolate">Servicios</h1>
            <p>
              <img src="./assets/Country House.png" alt="Icono de alojamiento" height="24px" style="color: orangered;">
              Alojamiento
            </p>
            <p>
              <img src="./assets/huellas-de-garras.png" alt="Icono de paseo largo" height="24px">
              Paseo de perros
            </p>
            <p>
              <img src="./assets/Suitcase.png" alt="Icono de guardería de día" height="24px">
              Guardería de día
            </p>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>


<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile [ngStyle]="{'background-color': '#ff7f50'}">
    <div style="color: white; padding: 40px;">
      <h2>Garantía</h2>
      <p><mat-icon>check</mat-icon>
        Cada reserva a través de Gudog incluye cobertura veterinaria en caso de accidente

      </p>
      <p><mat-icon>check</mat-icon>
        Pagos online, seguros y fáciles
      </p>
      <p><mat-icon>check</mat-icon>
        Soporte y ayuda en todo momento
      </p>
      <p><mat-icon>check</mat-icon>
        ¡Gana un extra mientras cuidas de perros maravillosos!

      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [ngStyle]="{'background-image': 'url(../../assets/puppy-2785074_640.jpg)', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center'}"></mat-grid-tile>

</mat-grid-list>

<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card style="background-color: white; width: 100%; height: 300px;">
    <mat-card-content style="text-align: center; font-size: 40px;">
      <h1 style="font-size: 1em; font-weight: bold; margin-bottom: 100px; margin-top: 40px; color: black;">
        Una vez tu perfil sea aprobado, cientos de dueños/as de perros podrán ponerse en contacto contigo
      </h1>
       <button mat-raised-button color="warn" routerLink="/modal-usuario" style="background-color: '#ff7f50'; color: white; font-size: large; width: 450px;">
        Hazte cuidador de perros
      </button>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="column" fxLayoutAlign="start center">
  <mat-card style="width: 100%; height: 100%; background-color: #43bccd; color: white;">
    <mat-card-content style="text-align: left;">
      <h1 style="font-weight: bold;">Beneficios de Dog Walk App</h1>
      <mat-list>
        <div *ngFor="let benefit of benefits">
          <mat-list-item class="benefit-container" style="font-size: 18px; color: white">
            <div class="benefit-title" (click)="benefit.isOpen = !benefit.isOpen">
              <mat-icon>{{benefit.icon}}</mat-icon>
              <strong>{{benefit.title}}</strong>
              <span class="expand-icon">{{benefit.isOpen ? '-' : '+'}}</span>
            </div>
            <div class="benefit-description" [style.display]="benefit.isOpen ? 'block' : 'none'">
              {{benefit.description}}
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>


